@using A2C.Resources
@model A2C.Model.SystemConfigurations

<div id="content" class="content-right-margin">
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form0", id = "form0", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionscheme">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a aria-expanded="true" href="#collapsescheme" data-toggle="collapse" data-parent="#accordion">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblSelectedScheme">@(@Resource.EmailIntegration)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse in" id="collapsescheme" aria-expanded="true">
                            <div class="panel-body no-padding">

                                <div class="row">
                                    <section class="col col-6">
                                        @Html.HiddenFor(u => u.EmailProvider.SMTPEmailProviderId)

                                        @Html.LabelFor(u => u.EmailProvider.Email, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.EmailProvider.Email, new { maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.EmailAddressTooltip</b>
                                            @Html.ValidationMessageFor(u => u.EmailProvider.Email)
                                        </label>
                                    </section>
                                    <section class="col col-6"></section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        @Html.LabelFor(u => u.EmailProvider.Host, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.EmailProvider.Host, new { maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.HostTooltip</b>
                                            @Html.ValidationMessageFor(u => u.EmailProvider.Host)
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        @Html.LabelFor(u => u.EmailProvider.Port, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.EmailProvider.Port, new { maxlength = "4" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.PortTooltip</b>
                                            @Html.ValidationMessageFor(u => u.EmailProvider.Port)
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        @Html.LabelFor(u => u.EmailProvider.UserId, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.EmailProvider.UserId, new { maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.UserIDTooltip</b>
                                            @Html.ValidationMessageFor(u => u.EmailProvider.UserId)
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        @Html.LabelFor(u => u.EmailProvider.Password, new { @class = "label" })
                                        <label class="input">
                                            @Html.PasswordFor(u => u.EmailProvider.Password, new { value = Model.EmailProvider.Password, maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.SchoolUserPasswordTooltip</b>
                                            @Html.ValidationMessageFor(u => u.EmailProvider.Password)
                                        </label>
                                    </section>
                                </div>

                                <div class="row">
                                    <section class="col col-6">
                                        <label id="lblAuthenticationRequired" class="checkbox-inline A2CIconButtonTopMargin" tabindex="0">
                                            <input id="chkAuthenticationRequired" checked="@Model.EmailProvider.AuthenticationRequired" class="checkbox style-2" type="checkbox" onchange="" name="chkAuthenticationRequired">
                                            <span>@Resource.AuthenticationRequired</span>
                                        </label>

                                    </section>
                                    <section class="col col-6">
                                        <div style="text-align:right">
                                            <a id="btnSaveApplicationURL" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="javascript: SaveSuperUserConfiguration();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        }

    </div>
    
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formApplicationURL", id = "formApplicationURL", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsApplicationURL">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapseApplicationURL" data-toggle="collapse" data-parent="#accordionApplicationURL">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblApplicationURL">@(@Resource.ApplicationUrl)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapseApplicationURL" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <section class="col col-6">
                                        @Html.HiddenFor(u => u.SystemConfigurationId)

                                        @Html.LabelFor(u => u.A2CApplicationUrl, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.A2CApplicationUrl, new { maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.ApplicationUrlToolTip</b>
                                            @Html.ValidationMessageFor(u => u.A2CApplicationUrl)
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        @Html.Label(" ")
                                        <div style="text-align:right">
                                            <a id="btnSaveApplicationURL" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SaveApplicationURL();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-12">
                                        @Resource.ApplicationUrlNote
                                    </section>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        }
    </div>
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formContactEmailPhone", id = "formContactEmailPhone", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsContactEmailPhone">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapseContactEmailPhone" data-toggle="collapse" data-parent="#accordionContactEmailPhone">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblContactEmailPhone">@(@Resource.EmailTemplateConfiguration)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapseContactEmailPhone" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <section class="col col-5">
                                        @Html.LabelFor(u => u.ContactEmail, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.ContactEmail, new { maxlength = "255" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.ContactEmailToolTip</b>
                                            @Html.ValidationMessageFor(u => u.ContactEmail)
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        @Html.LabelFor(u => u.ContactPhoneNumber, new { @class = "label Compulsorylabel" })
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.ContactPhoneNumber, new { @type = "phone", maxlength = "35" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.ContactPhoneNumberToolTip</b>
                                            @Html.ValidationMessageFor(u => u.ContactPhoneNumber)
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        @Html.Label(" ")
                                        <div style="text-align:right">
                                            <a id="btnSaveContactEmailPhone" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SaveApplicationContactEmailPhone();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        }
    </div>
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCoreComponentFrequencyEDI", id = "formCoreComponentFrequencyEDI", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsCoreComponentFrequencyEDI">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapseCoreComponentFrequencyEDI" data-toggle="collapse" data-parent="#accordionCoreComponentFrequencyEDI">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblCoreComponentFrequencyEDI">@(@Resource.CoreComponentFrequency)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapseCoreComponentFrequencyEDI" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <div style="text-align:left; padding-left:15px">
                                        @Html.LabelFor(u => u.PickupFileFromEdiFolderInMinutes, new { @class = "label Compulsorylabel" })
                                    </div>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.PickupFileFromEdiFolderInMinutes, new { maxlength = "4" })

                                            <b class="tooltip tooltip-bottom-right">@Resource.CoreComponentFrequencyToolTip</b>
                                            @Html.ValidationMessageFor(u => u.PickupFileFromEdiFolderInMinutes)
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <div style="text-align:left; padding-top:10px">
                                            <label>@(@Resource.Minutes)</label>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <div style="text-align:right">
                                            <a id="btnCoreComponentFrequencyEDI" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SaveCoreComponentFrequencyForEDI();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formMessageSendFrequency", id = "formMessageSendFrequency", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsMessageSendFrequency">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapseMessageSendFrequency" data-toggle="collapse" data-parent="#accordionMessageSendFrequency">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblMessageSendFrequency">@(@Resource.MessageSendFrequency)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapseMessageSendFrequency" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <div style="text-align:left; padding-left:15px">
                                        @Html.LabelFor(u => u.SendA2CRequestInMinutes, new { @class = "label Compulsorylabel" })
                                    </div>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.SendA2CRequestInMinutes, new { maxlength = "4" })

                                            <b class="tooltip tooltip-bottom-right">@Resource.MessageSendFrequencyToolTip</b>
                                            @Html.ValidationMessageFor(u => u.SendA2CRequestInMinutes)
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <div style="text-align:left; padding-top:10px">
                                            <label>@(@Resource.Minutes)</label>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <div style="text-align:right">
                                            <a id="btnMessageSendFrequency" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SaveMessageSendFrequency();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div style="padding-top:7px;padding-bottom:7px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formPollingFrequency", id = "formPollingFrequency", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsPollingFrequency">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapsePollingFrequency" data-toggle="collapse" data-parent="#accordionPollingFrequency">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblPollingFrequency">@(@Resource.PollingFrequency)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapsePollingFrequency" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <div style="text-align:left; padding-left:15px">
                                        @Html.LabelFor(u => u.PollingInMinutes, new { @class = "label Compulsorylabel" })
                                    </div>
                                    <section class="col col-2">
                                        <label class="input">
                                            @Html.TextBoxFor(u => u.PollingInMinutes, new { maxlength = "4" })

                                            <b class="tooltip tooltip-bottom-right">@Resource.PollingFrequencyToolTip</b>
                                            @Html.ValidationMessageFor(u => u.PollingInMinutes)
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <div style="text-align:left; padding-top:10px">
                                            <label>@(@Resource.Minutes)</label>
                                        </div>
                                    </section>
                                    <section class="col col-6">
                                        <div style="text-align:right">
                                            <a id="btnPollingFrequency" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SavePollingFrequency();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>

    <div style="padding-top:7px;padding-bottom:9px">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formNoOfDaysToStoreMessagesLogs", id = "formNoOfDaysToStoreMessagesLogs", novalidate = "novalidate", @class = "smart-form" }))
        {
            <fieldset>
                <div class="panel-group smart-accordion-default" id="accordionsNoOfDaysToStoreMessagesLogs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="collapsed" aria-expanded="false" href="#collapseNoOfDaysToStoreMessagesLogs" data-toggle="collapse" data-parent="#accordionNoOfDaysToStoreMessagesLogs">
                                    <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                                    <label id="lblNoOfDaysToStoreMessagesLogs">@(@Resource.StoreMessagesNoofDays)</label>
                                </a>
                            </h3>
                        </div>
                        <div class="panel-collapse collapse" id="collapseNoOfDaysToStoreMessagesLogs" aria-expanded="false">
                            <div class="panel-body no-padding">
                                <div class="row">
                                    <section class="col col-5">
                                        <div style="text-align:left">
                                            @Html.LabelFor(u => u.NoOfDaysToStoreAuditLogs, new { @class = "label Compulsorylabel" })
                                        </div>
                                        <label class="input col-4">
                                            @Html.TextBoxFor(u => u.NoOfDaysToStoreAuditLogs, new { maxlength = "3" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.DaysForWhichAuditLogsWillBeStoredToolTip</b>
                                            @Html.ValidationMessageFor(u => u.NoOfDaysToStoreAuditLogs)
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <div style="text-align:left">
                                            @Html.LabelFor(u => u.NoOfDaysToStoreMessages, new { @class = "label Compulsorylabel" })
                                        </div>
                                        <label class="input col-4">
                                            @Html.TextBoxFor(u => u.NoOfDaysToStoreMessages, new { maxlength = "3" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.DaysForWhichMessagesWillBeToolTip</b>
                                            @Html.ValidationMessageFor(u => u.NoOfDaysToStoreMessages)
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-5">
                                        <div style="text-align:left">
                                            @Html.LabelFor(u => u.NoOfDaysToStoreFeedbackMessages, new { @class = "label Compulsorylabel" })
                                        </div>
                                        <label class="input col-4">
                                            @Html.TextBoxFor(u => u.NoOfDaysToStoreFeedbackMessages, new { maxlength = "3" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.DaysForWhichFeedbackMessagesReceivedWillBeStoredToolTip</b>
                                            @Html.ValidationMessageFor(u => u.NoOfDaysToStoreFeedbackMessages)
                                        </label>
                                    </section>
                                    <section class="col col-5">
                                        <div style="text-align:left">
                                            @Html.LabelFor(u => u.NoOfDaysToStoreBusinessErrorLogs, new { @class = "label Compulsorylabel" })
                                        </div>
                                        <label class="input col-4">
                                            @Html.TextBoxFor(u => u.NoOfDaysToStoreBusinessErrorLogs, new { maxlength = "3" })
                                            <b class="tooltip tooltip-bottom-right">@Resource.DaysForWhichBusinessErrorLogsWillBeStoredToolTip</b>
                                            @Html.ValidationMessageFor(u => u.NoOfDaysToStoreBusinessErrorLogs)
                                        </label>
                                    </section>
                                    <section class="col col-2">
                                        @Html.Label(" ")
                                        <div style="text-align:right">
                                            <a id="btnSaveNoOfDaysToStoreMessagesLogs" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="SaveNoOfDaysToStoreMessagesLogs();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                                                <i class="fa fa-floppy-o"></i>
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section scriptsTag {
    @Scripts.Render("~/Scripts/App/Configuration")
}

@section scriptsBlock{
    <script type="text/javascript">
        var configurationSaveSuccessMessage = '@Resource.ConfigurationSaveSuccess';
    </script>
}

