@using A2C.Resources
@model A2C.Model.ChangePassword
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="center-canvas" id="main" role="main">
   @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form0", id = "form0", @class = "smart-form lockscreen" }))
    {
        <div class="row">
            <div class="text-align-center">
                <h1 class="logo text-align-center">
                    <img src="~/Content/img/logo.png" alt="A2C Change Password" />
                </h1>
            </div>
            <fieldset>
                <section>
                        @Html.LabelFor(u => u.CurrentPassword, new { @class = "label Compulsorylabel" })
                        <label class="input">
                            @Html.PasswordFor(u => u.CurrentPassword, new { value = Model.CurrentPassword, maxlength = "99" })
                            <b class="tooltip tooltip-bottom-right">@Resource.CurrentPasswordTooltip</b>
                            @Html.ValidationMessageFor(u => u.CurrentPassword)
                        </label>
                </section>
                <section>
                        @Html.LabelFor(u => u.NewPassword, new { @class = "label Compulsorylabel" })
                        <label class="input">
                            @Html.PasswordFor(u => u.NewPassword, new { value = Model.NewPassword, maxlength = "99" })
                            <b class="tooltip tooltip-bottom-right">@Resource.PasswordTooltip</b>
                            @Html.ValidationMessageFor(u => u.NewPassword)
                        </label>
                </section>
                <section>
                    @Html.LabelFor(u => u.ConfirmNewPassword, new { @class = "label Compulsorylabel" })
                    <label class="input">
                        @Html.PasswordFor(u => u.ConfirmNewPassword, new { value = Model.ConfirmNewPassword, maxlength = "99" })
                        <b class="tooltip tooltip-bottom-right">@Resource.ConfirmPasswordTooltip</b>
                        @Html.ValidationMessageFor(u => u.ConfirmNewPassword)
                    </label>
                </section>
                <footer class="text-align-center">
                    <button type="submit" id="loginbtn" class="btn btn-primary" onclick="javascript: return ChangePassword();">
                        @Resource.Submit
                    </button>
                </footer>
            </fieldset>
        </div>
   }
</div>
@section scriptsBlock{
    <script>
        $(document).ready(function () {
            $("#CurrentPassword").focus();
        });
    </script>
}
