@using A2C.Resources
@model A2C.Model.ForgotPassword
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="center-canvas" id="main" role="main">
    <form name="form0" id="form0" novalidate="novalidate" class="smart-form lockscreen" onsubmit="return false;">
        <div class="row">
            <div class="text-align-center">
                <h1 class="logo text-align-center">
                    <img src="~/Content/img/logo.png" alt="A2C Forgot Password" />
                </h1>
            </div>
            <fieldset>
                <section>
                    @Html.LabelFor(u => u.UserName, new { @class = "label Compulsorylabel" })
                    <label class='input'>
                        @Html.TextBoxFor(u => u.UserName, new Dictionary<string, object> { { "maxlength", "256" } })
                        <b class="tooltip tooltip-bottom-right">@Resource.EnterUserName</b>
                        @Html.ValidationMessageFor(u => u.UserName)
                    </label>
                </section>
                <section>
                    <div class="note">
                        <a href="#" id="lnkRememberPwd" onclick="javascript: LogOnScreen(); return false;">@Resource.RememberPassword</a>
                    </div>
                </section>

                <footer class="text-align-center">
                    <button type="submit" id="loginbtn" class="btn btn-primary" onclick="return InitiateResetPassword();">
                        @Resource.ResetPassword
                    </button>
                </footer>
            </fieldset>

        </div>
    </form>
</div>

@section scriptsBlock{
    <script>
        var messageToShow ='@ViewBag.Message';

        function LogOnScreen() {
            location.href = "/Account/LogOn";
        }
        $(document).ready(function () {
            $("#UserName").focus();
        });
    </script>
}
