@using A2C.Resources
@model A2C.Model.ProductCatalogueLearningUnitModel
<script src="~/Scripts/js/common"></script>
@{
    <div class="panel-group smart-accordion-default" id="accordionLearningUnits">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a aria-expanded="true" href="#collapseLearningUnits" data-toggle="collapse" data-parent="#accordion">
                        <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                        <label id="lblSelectedLearningUnit">@(@Resource.Select + " " + @Resource.LearningUnit)</label>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" id="collapseLearningUnits" aria-expanded="true">
                <div class="panel-body no-padding">
                    <div class="row">
                        <section class="col col-3">
                            @Html.LabelFor(c => c.SelectedSeries, new { @class = "label" })
                            @Html.DropDownListFor(x => x.SelectedSeries, new SelectList(Model.SeriesList, "Value", "Text"), new { id = "seriesLableLearningUnit", @class = "select2 select2-offscreen" })
                        </section>
                        <section class="col col-3">
                            @Html.Label(" ")
                            <div>
                                <a id="BtnLearningUnitSubmit" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="GetLearningUnits();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Search" title="@Resource.Search">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-12" style="width:100%">
                            <div id="learningUnitGrid"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pcDetailLevel2TabViewLearningUnit" hidden="hidden">
        @Html.Label(" ")
        <ul id="learningUnitDetailLevel2ChildTab" class="nav nav-tabs bordered">
            <li class="">
                <a id="qualificationDetailsTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dQualificationDetailsLevel2TabLearningUnit">
                    <span class="hidden-mobile hidden-tablet">@Resource.QualificationDetails</span>
                </a>
            </li>
            <li class="">
                <a id="availabilityTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dAvailabilityLevel2TabLearningUnit">
                    <span class="hidden-mobile hidden-tablet">@Resource.Availability </span>
                </a>
            </li>
        </ul>
        <div id="learningUnitDetailLevel2ChildTabContent" class="tab-content padding-10">
            <div id="dQualificationDetailsLevel2TabLearningUnit" class="tab-pane fade active in">
                <div id="pcDetailLearningUnitTabView" hidden="hidden">
                    <ul id="learningUnitChildTab" class="nav nav-tabs bordered">
                        <li class="">
                            <a id="generalTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dGeneralTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.General</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="preferencesTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dPreferencesTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.Preferences</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="learnerIdentifiersTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dLearnerIdentifiersTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.LearnerIdentifiers</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="gradeRangeTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dGradeRangeTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.GradeRange</span>
                            </a>
                        </li>
                        @*<li class="">
                                <a id="ageRangeTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dAgeRangeTabLearningUnit">
                                    <span class="hidden-mobile hidden-tablet">@Resource.AgeRange</span>
                                </a>
                            </li>
                            <li class="">
                                <a id="frameworkTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dFrameworkTabLearningUnit">
                                    <span class="hidden-mobile hidden-tablet">@Resource.Framework</span>
                                </a>
                            </li>
                            <li class="">
                                <a id="objectiveStatmentTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dObjectiveStatmentTabLearningUnit">
                                    <span class="hidden-mobile hidden-tablet">@Resource.ObjectiveStatement</span>
                                </a>
                            </li>
                            <li class="">
                                <a id="sectorSubjectAreaTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dSectorSubjectAreaTabLearningUnit">
                                    <span class="hidden-mobile hidden-tablet">@Resource.SectorSubjectArea</span>
                                </a>
                            </li>*@
                        <li class="">
                            <a id="relationshipHierarchyTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dRelationshipHierarchyTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.RelationshipHierarchy</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="relationshipsTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dRelationshipsTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.Relationships</span>
                            </a>
                        </li>
                    </ul>
                    <div id="childTabContent" class="tab-content padding-10">
                        <div id="dGeneralTabLearningUnit" class="tab-pane fade">

                        </div>
                        <div id="dPreferencesTabLearningUnit" class="tab-pane fade">
                            <div id="qePreferenceGridLearningUnit"></div>
                        </div>
                        <div id="dLearnerIdentifiersTabLearningUnit" class="tab-pane fade">
                            <div id="qeLearnerIdentifierGridLearningUnit"></div>
                        </div>
                        <div id="dGradeRangeTabLearningUnit" class="tab-pane fade">
                            <div id="qeGradeRangeGridLearningUnit"></div>
                        </div>
                        @*<div id="dAgeRangeTabLearningUnit" class="tab-pane fade"></div>
                            <div id="dFrameworkTabLearningUnit" class="tab-pane fade"></div>
                            <div id="dObjectiveStatmentTabLearningUnit" class="tab-pane fade"></div>
                            <div id="dSectorSubjectAreaTabLearningUnit" class="tab-pane fade"></div>*@
                        <div id="dRelationshipHierarchyTabLearningUnit" class="tab-pane fade">
                            <div id="qeRelationshipHierarchyTreeLearningUnit"></div>
                        </div>

                        <div id="dRelationshipsTabLearningUnit" class="tab-pane fade active in">
                            <div id="qeRelationshipGridLearningUnit"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dAvailabilityLevel2TabLearningUnit" class="tab-pane fade">
                <div id="qeAvailibilityGridLearningUnit"></div>
                @Html.Label(" ")
                <div id="pcAvailabilityDetailLearningUnitTabView" hidden="hidden">
                    <ul id="learningUnitAvailabilityChildTab" class="nav nav-tabs bordered">
                        <li class="">
                            <a id="keyEventAvailabilityTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dKeyEventTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.KeyEventAvailability</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="keyEventFeeAvailabilityTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dKeyEventFeeTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.KeyEventFees</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="gradeBoundaryTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dGradeBoundaryTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.GradeBoundary</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="maximumMarksTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dMaximumMarksTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.MaximumMarks</span>
                            </a>
                        </li>
                        <li class="">
                            <a id="assessmentMaterialTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dAssessmentMaterialTabLearningUnit">
                                <span class="hidden-mobile hidden-tablet">@Resource.AssessmentMaterial</span>
                            </a>
                        </li>
                        @*<li class="" hidden="hidden">
                    <a id="availabilityTab" aria-expanded="true" rel="True" data-toggle="tab" href="#dAvailabilityTabLearningUnit">
                        <span class="hidden-mobile hidden-tablet">@Resource.Availability</span>
                    </a>
                </li>*@
                    </ul>
                    <div id="childTabContentAvailability" class="tab-content padding-10">
                        <div id="dKeyEventTabLearningUnit" class="tab-pane fade">
                            <div id="qeKeyEventTabLearningUnit"></div>
                        </div>
                        <div id="dKeyEventFeeTabLearningUnit" class="tab-pane fade">
                            <div id="qeKeyEventFeeTabLearningUnit"></div>
                        </div>
                        <div id="dGradeBoundaryTabLearningUnit" class="tab-pane fade">
                            <div id="qeGradeBoundaryTabLearningUnit"></div>
                        </div>
                        <div id="dMaximumMarksTabLearningUnit" class="tab-pane fade">
                            <div id="qeMaximumMarksTabLearningUnit"></div>
                        </div>
                        <div id="dAssessmentMaterialTabLearningUnit" class="tab-pane fade">
                            <div id="qeAssessmentMaterialGridLearningUnit"></div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var MaximumResitsAllowedRT = '@Resource.MaximumResitsAllowed', LearningUnitLevelTypeRT = '@Resource.LearningUnitLevelType'
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        PCDetailTabClickEvent("LearningUnit", e);
    });
</script>