@using A2C.Resources

@model A2C.Model.AuditLog

@{
    ViewBag.Title = Resource.ViewAuditLogs;
}

<div id="content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form0", id = "form0", novalidate = "novalidate", @class = "smart-form" }))
    {
        <fieldset>
            <div >
                <section >
                    <div id="auditLogGrid"></div>
                </section>
            </div>
        </fieldset>
    }
</div>

@section styleBlock {
    @Styles.Render("~/Content/SmartAdmin/KendoUI/kendoMaster")
    <style></style>
}

@section scriptsTag {
    @Scripts.Render("~/Scripts/Kendo", "~/Scripts/App/AuditLog")

    <script type="text/javascript">

        var DateTitle = '@Resource.DateTitle';
        var SchoolNameTitle = '@Resource.SchoolName';
        var LoggedinUserTitle = '@Resource.LoggedinUser';
        var RoleoftheUserTitle = '@Resource.RoleoftheUser';        
        var ScreenofActionTitle = '@Resource.ScreenofAction';
        var DescriptionTitle = '@Resource.Description';

        $(this.document).ready(function () {
            LoadAuditLogList();
        });
    </script>
}