@using A2C.Resources
@model A2C.Model.IncomingSequenceNumber

@{
    ViewBag.Title = Resource.EditIncomingSequenceNumberPageTitle;
}

<div id="content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "form0", id = "form0", novalidate = "novalidate", @class = "smart-form" }))
    {
        <fieldset>
            <div class="row">
                <section class="col col-4">
                    @Html.LabelFor(x => x.SelectedCentreId, new { @class = "label Compulsorylabel" })
                    @Html.DropDownListFor(x => x.SelectedCentreId, new SelectList(Model.CentreList, "Value", "Text"), new { @class = "select2 select2-offscreen" })
                    @Html.ValidationMessageFor(u => u.SelectedCentreId)
                </section>
                <section class="col col-4">
                    @Html.LabelFor(x => x.SelectedAwardingOrganisationId, new { @class = "label Compulsorylabel" })
                    @Html.DropDownListFor(x => x.SelectedAwardingOrganisationId, new SelectList(Model.AwardingOrganisationList, "Value", "Text"), new { @class = "select2 select2-offscreen" })
                    @Html.ValidationMessageFor(u => u.SelectedAwardingOrganisationId)
                </section>
            </div>
            <div class="row">
                <section class="col col-4">
                    @Html.LabelFor(x => x.PendingMessages, new { @class = "label" })
                    <label class='input'>
                        @Html.TextAreaFor(x => x.PendingMessages, 3, 50, new { @disabled = "disabled"})
                    </label>
                </section>
                <section class="col col-4">
                    <br/>
                    <label id="lblIgnoreMessages" class="checkbox-inline A2CIconButtonTopMargin" tabindex="0">
                        <input id="chkIgnoreMessages" checked="checked" class="checkbox style-2" type="checkbox" onchange="" name="chkIgnoreMessages">
                        <span>@Resource.IgnorePendingMessagesTitle</span>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-2">
                    @Html.LabelFor(x => x.ExpectedSequenceNumber, new { @class = "label" })
                    <label class='input'>
                        @Html.TextBoxFor(x => x.ExpectedSequenceNumber, new Dictionary<string, object> { { "disabled", "disabled" } })
                        <b class="tooltip tooltip-bottom-right">@Resource.ExpectedSequenceNumberTitle</b>                       
                    </label>
                </section>                
            </div>
            <div class="row">
                <section class="col col-2">
                    @Html.LabelFor(x => x.ResetSequenceNumber, new { @class = "label Compulsorylabel" })
                    <label class='input'>
                        @Html.TextBoxFor(x => x.ResetSequenceNumber, new Dictionary<string, object> { { "maxlength", "10" } })
                        <b class="tooltip tooltip-bottom-right">@Resource.EnterSequenceNumber</b>
                        @Html.ValidationMessageFor(u => u.ResetSequenceNumber)
                    </label>
                </section>
                <section class="col col-10">
                    @Html.Label(" ")
                    <div>
                        <a id="btnSaveApplicationURL" class="btn btn-icon A2CIconButton A2CIconButtonTopMargin" rel="tooltip" onclick="javascript: SaveSequenceNumber();" href="javascript:void(0);" data-placement="bottom" data-original-title="@Resource.Save" title="@Resource.Save">
                            <i class="fa fa-floppy-o"></i>
                        </a>
                    </div>
                </section>
            </div>
        </fieldset>
    }
</div>

@section styleBlock {
    @Styles.Render("~/Content/SmartAdmin/KendoUI/kendoMaster")    
}

@section scriptsTag {
    @Scripts.Render("~/Scripts/Kendo", "~/Scripts/App/EditIncomingSequence")
}

@section scriptsBlock{
    <script type="text/javascript">
        var SelectAwardingOrganisationText = '@Resource.Select';
        var configurationSaveSuccessMessage = '@Resource.ConfigurationSaveSuccess';
    </script>
}